<div class="center hero-unit">
  <h1>Wikiquest</h1>

  <h2>
    Connect two articles with the least
    number of clicks as possible.
  </h2>

</div>

<div class="embed">
<object data=http://www.en.wikipedia.org/wiki/Special:Random width="950" height="550"> <embed src=http://www.en.wikipedia.org/wiki/Special:Random width="950" height="550"> </embed> Error: Embedded data could not be displayed. </object>
</div>